language: ruby
sudo: false
rvm:
  - jruby-head
  - 2.3.3
  - jruby-9.1.6.0
  - 2.2.6
  - 2.1.9

jdk:
  - oraclejdk8

env:
  - JRUBY_OPTS="--dev --debug"

before_install:
  - gem query -i -n '^bundler$' >/dev/null || gem install --no-doc bundler
  - bundle install

gemfile:
  - gemfiles/rails_5.0.gemfile
  - gemfiles/rails_4.2.gemfile

matrix:
  exclude:
    - rvm: 2.1.9
      gemfile: gemfiles/rails_5.0.gemfile
  allow_failures:
    - rvm: jruby-head
      gemfile: gemfiles/rails_5.0.gemfile # Low coverage
    - rvm: jruby-head
      gemfile: gemfiles/rails_4.2.gemfile # Low coverage

script: bundle exec rake test
